# LOGIN
INSTAGRAM_USERNAME = "YOUR INSTAGRAM LOGIN NAME"
INSTAGRAM_PASSWORD = "YOUR INSTAGRAM PASSWORD"

#DETAILS
VIDEO_URL = "INSTAGRAM VIDEO URL YOUI WANT TO USE"
YOUR_WORD = "WORD YOU WANT TO TRIGGER SCRIPT"
YOUR_MESSAGE = "MESSAGE YOU WANT TO SEND INTO DMs"